.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    height: 100px;
    max-width: 1200px;
}

.title {
    height: 100%;
    display: flex;
    flex: 2;
    font-size: 2rem;
    font-weight: bold;
}

.header > * {
    height: 100%;
    display: flex;
    align-items: center;
}